<?xml version="1.0"?>
<facelet-taglib xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-facelettaglibrary_2_0.xsd"
                version="2.0">
    <namespace>http://www.springframework.org/security/tags</namespace>
    <tag>
        <tag-name>authorize</tag-name>
        <handler-class>br.com.athat.web.utils.security.FaceletsAuthorizeTagHandler</handler-class>
        <attribute>
            <name>access</name>
            <required>true</required>
            <type>java.lang.String</type>
        </attribute>
    </tag>
</facelet-taglib>